/*mobile first*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

.header__logo {
  margin: 0 0 0 20px;
}

.login {
  color: #0065fc;
  font-weight: bold;
  margin-right: 20px;
}

nav a {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: -30px;
}

.nav {
  margin: 60px 0 0 0;
}

.nav__link {
  display: flex;
  justify-content: center;
  flex: 50%;
  border-bottom: 2px solid #f2f2f2;
}

.nav__link--active {
  border-bottom: 2px solid #0065fc;
}

.nav__link--active a {
  color: #0065fc;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

nav {
  flex: 100%;
}

.quote {
  display: flex;
  flex-direction: column;
}

.quote__title {
  font-size: 22px;
  padding: 30px 0 10px 0;
}

.quote__bytitle {
  padding: 0 0 30px 0;
}

.search {
  display: flex;
}

.search__icon {
  height: 50px;
  width: 50px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;
}

.search__field {
  flex-grow: 2;
  border: 1px solid #f2f2f2;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 0 0 0 20px;
}

.search__field::placeholder {
  color: black;
  opacity: 1;
}

.search__btn {
  height: 50px;
  width: 50px;
  background-color: #0065fc;
  border-style: none;
  border-radius: 15px;
  margin-left: -35px;
}

.search__btn--desktop {
  display: none;
}

.fa-search {
  color: white;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter__title {
  font-weight: 800;
  padding: 30px 0 10px 0;
  font-size: 18px;
}

.filter__element {
  display: flex;
  flex-wrap: wrap;
}

.element:hover .element__icon {
  background-color: #0065fc;
}

.element:hover .fa-money-bill-wave {
  color: white;
}

.element:hover .fa-child {
  color: white;
}

.element:hover .fa-heart {
  color: white;
}

.element:hover .fa-dog {
  color: white;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.element__name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px 0 50px;
  border: 2px solid rgba(217, 217, 217);
  border-radius: 50px;
  height: 48px;
  margin: 6px 15px 6px -45px;
}

.element__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 52px;
  background-color: #deebff;
  border-radius: 50%;
  z-index: 1;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  color: #0065fc;
  font-size: 20px;
}

aside,
section,
footer {
  padding: 0 20px;
}

.info {
  display: flex;
  align-items: center;
  padding: 30px 0 30px 0;
}

.info__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 26px;
  height: 26px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid rgb(205, 209, 215);
}

.info__description {
  margin: 20px;
}

aside,
footer {
  background-color: #f2f2f2;
}

aside {
  padding: 20px 20px 30px 20px;
}

.all-hotels {
  display: flex;
  flex-direction: column;
}

.title-famous {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.famous-hotel {
  display: flex;
  flex-direction: column;
}

.hotel {
  display: flex;
  background-color: white;
  height: 145px;
  margin: 10px 0;
}

.hotel__image {
  display: flex;
  flex: 0 0 40%;
}

.hotel__image img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

article {
  box-shadow: 0px 2px 8px rgb(180 180 180);
  border: 4px white solid;
  border-radius: 20px;
}

.hotel__content {
  display: flex;
  flex-direction: column;
  margin: 15px 10px 15px 30px;
  align-items: flex-start;
  justify-content: space-between;
}

.content__title {
  text-decoration: none;
  font-weight: 800;
}

.content__byline {
  line-height: 40px;
}

.star .fa-star {
  font-size: 13px;
}

.fa-star {
  color: #0065fc;
}

.star--inactive {
  color: #f2f2f2;
}

.marseille {
  display: flex;
  flex-direction: column;
}
.accommodation {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 10px 0;
}
.accommodation__image {
  width: 100%;
  height: 60%;
}

.accommodation__information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 40%;
}

/* test activités*/
.activities {
  display: flex;
  flex-direction: column;
}

.div-activities {
  display: flex;
  flex-direction: column;
}

.activity{
  display: flex;
  flex-direction: column;
  height: 190px;
}

.activity__image {
  display: flex;
  height: 80%;
}

.activity__title {
  display: flex;
}

.activity__image img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* fin test activités */

/* .activities {
  display: flex;
  flex-direction: column;
}
.div-activities {
  display: flex;
  flex-direction: column;
}
.activity {
  height: 190px;
  margin: 10px 0;
  border: none;
}
.activity__image {
  width: 100%;
  height: 70%;
}
.activity__image, */
.accommodation__image {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.footer {
  display: flex;
  flex-direction: column;
}

footer ul {
  display: flex;
  flex-direction: column;
}

.footer-part {
  height: 162px;
}

.footer-part__title {
  line-height: 50px;
}

.footer-part__link {
  line-height: 30px;
}

@media (min-width: 800px) and (max-width: 1920px) {
  .header {
    flex-wrap: nowrap;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav a {
    margin: 0px;
  }

  .nav {
    margin: 0px;
  }

  .nav__link {
    padding: 50px 50px 50px 50px;
    border-bottom: none; 
  }

  .nav__link--active {
    border-top: 2px solid #0065fc;
  }

  .login {
    order: 1;
    margin: 0 0 0 50px;
  }

  .all-hotels {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .aside-hotel {
    flex: 0 0 25%;
    border-radius: 15px;
  }

  .section-hotel {
    flex: 0 0 60%;
    background-color: #f2f2f2;
    border-radius: 15px;
  }

  .marseille {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .accommodation {
    width: 248px;
  }

  .search__field {
    flex-grow: 0;
    width: 20%;
  }

  .search__btn--desktop {
    display: block;
    background-color: #0065fc;
    border-style: none;
    border-radius: 0 15px 15px 0;
    color: white;
    padding: 10px;
  }

  .search__btn {
    display: none;
  }

  /* .activities {
    flex-direction: row;
    justify-content: space-around;
    flex: 100%;
  }

  .div-activities {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
  }

  .activity {
    height: 100%;
  } */

  /* Test activité */

  .activities {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  .div-activities {
    /* display: flex;
    flex-direction: column; */
    height: 450px;
    flex: 0 0 20%;
    justify-content: space-between;
  }
  
  .activity{
    /* display: flex;
    flex-direction: column; */
    height: unset;
  }

  .activity--fullspace {
    height: 100%;
  }

  .activity--fort {
    height: 50%;
  }

  .activity--frioul {
    height: 40%;
  }

  .activity__image {
    height: unset;
  }
  
  .activity__image--fullspace {
    height: 85%;
  }

  .activity__image--fort {
    height: 75%;
  }

  .activity__image--frioul{
    height: 65%;
  }
  .activity__title {
    /* display: flex; */
    /* margin: 15px 10px 15px 30px; */
  }
  
  /* .activity__image img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
  } */
  /* fin test activités */

  .footer {
    flex-direction: row;
  }
}
